nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom: 0")
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="/") 妙蛙种子 协同作战系统 
    // a.navbar-brand(style="background: url(/img/favicon.ico) no-repeat 50% 50%; background-size: 50% 50%; display: block; width: 50px;")

  // /.navbar-header
  ul.nav.navbar-top-links.navbar-right
    li.dropdown
      a.dropdown-toggle(data-toggle="dropdown", href="#")
        i.fa.fa-user.fa-fw
        i.fa.fa-caret-down
      ul.dropdown-menu.dropdown-user
        li
          a(href="#")
            i.fa.fa-user.fa-fw
            | User Profile
        li
          a(href="#")
            i.fa.fa-gear.fa-fw
            | Settings
        li.divider
        li
          a(href="login.html")
            i.fa.fa-sign-out.fa-fw
            | Logout
      // /.dropdown-user
    // /.dropdown
  // /.navbar-top-links
  .navbar-default.sidebar(role="navigation")
    .sidebar-nav.navbar-collapse
      ul#side-menu.nav
        li.sidebar-search
          .input-group.custom-search-form
            input.form-control(type="text", placeholder="Search...")
            span.input-group-btn
              button.btn.btn-default(type="button")
                i.fa.fa-search
          // /input-group
        li
          a(href="/")
            i.fa.fa-dashboard.fa-fw
            |  控制台
        li
          a(href="#")
            i.fa.fa-android.fa-fw
            |  设备操作
            span.fa.arrow
          ul.nav.nav-second-level
            li
              a(href="/apkm/inspage") 安装列表
            li
              a(href="/apkm/uninspage") 卸载列表
            li
              a(href="/apkm/textpage") 喊话内容
            li
              a(target="_blank" href="/apkm/version") 版本控制
          // /.nav-second-level
        li
          a(href="#")
            i.fa.fa-gamepad.fa-fw
            |  游戏下载
            span.fa.arrow
          ul.nav.nav-second-level
            li
              a(href="/download/file") 渠道包下载地址
            li
              a(href="/download/address") 官方包下载地址
        li
          a(href="/report")
            i.fa.fa-bar-chart-o.fa-fw
            |  数据统计
            // span.fa.arrow
          // ul.nav.nav-second-level
            // li
              // a(href="/report") 统计列表
        li
          a(target="_blank" href="http://admin.ghzhushou.com/game_center")
            i.fa.fa-sun-o.fa-fw
            |  手游后台
          // /.nav-second-level
    // /.sidebar-collapse
  // /.navbar-static-side
