extends layout/default

block content
  .row
    .col-lg-12
      h1.page-header 作战系统 控制台
  .row
    .col-lg-12(style="font-size:18px;padding-top:30px;")
      label.fa.fa-quote-left 
      不知道写点什么好，但是空着怪怪的...
      label.fa.fa-quote-right 
  .row
    .col-lg-12
      //img#anim(src='./img/sleep.png')
      table#b1.bulbasaur
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td
          td(style="background: #000;")
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #87e087;")
          td(style="background: #000;")
          td(style="background: #87e087;")
          td(style="background: #000;")
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #6bad52;")
          td(style="background: #87e087;")
          td(style="background: #6bad52;")
          td(style="background: #000;")
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #75bd5a;")
          td(style="background: #487d3e;")
          td(style="background: #487d3e;")
          td(style="background: #75bd5a;")
          td(style="background: #487d3e;")
          td(style="background: #6fb354;")
          td(style="background: #000;")
          td(style="background: #000;")
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #75bc5a;")
          td(style="background: #75bc5a;")
          td(style="background: #487d3e;")
          td(style="background: #75bc5a;")
          td(style="background: #487d3e;")
          td(style="background: #75bd5a;")
          td(style="background: #487d3e;")
          td(style="background: #75bc5a;")
          td(style="background: #75bd5a;")
          td(style="background: #487e40;")
          td(style="background: #000;")
          td
        tr
          td
          td
          td
          td(style="background: #000;")
          td
          td
          td(style="background: #000;")
          td(style="background: #6aa86a;")
          td(style="background: #68a850;")
          td(style="background: #487d3e;")
          td(style="background: #75bc5a;")
          td(style="background: #68a850;")
          td(style="background: #487d3e;")
          td(style="background: #75bd5a;")
          td(style="background: #6bae51;")
          td(style="background: #487d3e;")
          td(style="background: #73ba59;")
          td(style="background: #68a750;")
          td(style="background: #427339;")
          td(style="background: #000;")
        tr
          td
          td
          td(style="background: #000;")
          td(style="background: #7dd17d;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #545554;")
          td(style="background: #6aa86a;")
          td(style="background: #487d3e;")
          td(style="background: #75bc5a;")
          td(style="background: #68a850;")
          td(style="background: #487d3e;")
          td(style="background: #6bae51;")
          td(style="background: #75bd5a;")
          td(style="background: #6bae51;")
          td(style="background: #6bae51;")
          td(style="background: #487d3e;")
          td(style="background: #6bae52;")
          td(style="background: #549054;")
          td(style="background: #000;")
        tr
          td
          td
          td(style="background: #000;")
          td(style="background: #84de84;")
          td(style="background: #84de84;")
          td(style="background: #84de84;")
          td(style="background: #6aa86a;")
          td(style="background: #5a5b5a;")
          td(style="background: #5a5b5a;")
          td(style="background: #599759;")
          td(style="background: #599759;")
          td(style="background: #487d3e;")
          td(style="background: #75bd5a;")
          td(style="background: #75bd5a;")
          td(style="background: #75bd5a;")
          td(style="background: #75bd5a;")
          td(style="background: #487d3e;")
          td(style="background: #589658;")
          td(style="background: #599759;")
          td(style="background: #000;")
        tr
          td
          td
          td(style="background: #000;")
          td(style="background: #77c877;")
          td(style="background: #85df85;")
          td(style="background: #609860;")
          td(style="background: #417038;")
          td(style="background: #487e3b;")
          td(style="background: #619961;")
          td(style="background: #5a5b5a;")
          td(style="background: #5a985a;")
          td(style="background: #427039;")
          td(style="background: #5a8a51;")
          td(style="background: #5a995a;")
          td(style="background: #508850;")
          td(style="background: #5a8a51;")
          td(style="background: #487d3e;")
          td(style="background: #508850;")
          td(style="background: #5a8a51;")
          td(style="background: #000;")
        tr
          td
          td(style="background: #000;")
          td(style="background: #82db82;")
          td(style="background: #80d680;")
          td(style="background: #85df85;")
          td(style="background: #467b3d;")
          td(style="background: #46793d;")
          td(style="background: #498041;")
          td(style="background: #81d781;")
          td(style="background: #6aa86a;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #5a995a;")
          td(style="background: #589658;")
          td(style="background: #569556;")
          td(style="background: #487d3e;")
          td(style="background: #5b5c5b;")
          td(style="background: #000;")
          td
        tr
          td
          td(style="background: #000;")
          td(style="background: #6ba96b;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #000;")
          td(style="background: #5a995a;")
          td(style="background: #5a995a;")
          td(style="background: #487d3e;")
          td(style="background: #5b5c5b;")
          td(style="background: #000;")
          td
          td
        tr
          td(style="background: #000;")
          td(style="background: #cc5348;")
          td(style="background: #467b3d;")
          td(style="background: #77c877;")
          td(style="background: #85df85;")
          td(style="background: #77c777;")
          td(style="background: #619861;")
          td(style="background: #85de85;")
          td(style="background: #77c777;")
          td(style="background: #77c777;")
          td(style="background: #85df85;")
          td(style="background: #515251;")
          td(style="background: #619961;")
          td(style="background: #5a5b5a;")
          td(style="background: #505150;")
          td(style="background: #525252;")
          td(style="background: #6aa76a;")
          td(style="background: #000;")
          td
          td
        tr
          td(style="background: #000;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #467b3d;")
          td(style="background: #7fd47f;")
          td(style="background: #5a5a5a;")
          td(style="background: #383838;")
          td(style="background: #5a5a5a;")
          td(style="background: #87e187;")
          td(style="background: #68a368;")
          td(style="background: #68a368;")
          td(style="background: #68a368;")
          td(style="background: #67a167;")
          td(style="background: #68a368;")
          td(style="background: #487e3e;")
          td(style="background: #44773b;")
          td(style="background: #000;")
          td
        tr
          td
          td(style="background: #000;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #82d982;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #fff;")
          td(style="background: #fff;")
          td(style="background: #69a669;")
          td(style="background: #69a669;")
          td(style="background: #69a669;")
          td(style="background: #5a5b5a;")
          td(style="background: #67a167;")
          td(style="background: #68a368;")
          td(style="background: #487e3e;")
          td(style="background: #44773b;")
          td(style="background: #000;")
          td
        tr
          td
          td(style="background: #000;")
          td(style="background: #619961;")
          td(style="background: #76c676;")
          td(style="background: #85df85;")
          td(style="background: #77c877;")
          td(style="background: #000;")
          td(style="background: #f85248;")
          td(style="background: #fff;")
          td(style="background: #619961;")
          td(style="background: #6ba86b;")
          td(style="background: #609860;")
          td(style="background: #417138;")
          td(style="background: #477d3e;")
          td(style="background: #4f4f4f;")
          td(style="background: #619961;")
          td(style="background: #6ca86c;")
          td(style="background: #5f965f;")
          td(style="background: #000;")
          td
        tr
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #6ca96c;")
          td(style="background: #6ca96c;")
          td(style="background: #6ca96c;")
          td(style="background: #6ca96c;")
          td(style="background: #6ca96c;")
          td(style="background: #6ca96c;")
          td(style="background: #5c5b5c;")
          td(style="background: #6aa66a;")
          td(style="background: #487d3e;")
          td(style="background: #497f40;")
          td(style="background: #585858;")
          td(style="background: #6aa66a;")
          td(style="background: #ccc;")
          td(style="background: #000;")
          td
          td
        tr
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #70ad70;")
          td(style="background: #70ad70;")
          td(style="background: #70ad70;")
          td(style="background: #70ad70;")
          td(style="background: #555;")
          td(style="background: #000;")
          td(style="background: #000;")
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #fff;")
          td(style="background: #609760;")
          td(style="background: #fff;")
          td(style="background: #000;")
          td(style="background: #000;")
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td
          td
          td
          td
          td
          td

      table#b2.bulbasaur(style="display: none;")
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td
          td(style="background: #000;")
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #87e087;")
          td(style="background: #000;")
          td(style="background: #87e087;")
          td(style="background: #000;")
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #6bad52;")
          td(style="background: #87e087;")
          td(style="background: #6bad52;")
          td(style="background: #000;")
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #75bd5a;")
          td(style="background: #487d3e;")
          td(style="background: #487d3e;")
          td(style="background: #75bd5a;")
          td(style="background: #487d3e;")
          td(style="background: #6fb354;")
          td(style="background: #000;")
          td(style="background: #000;")
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #75bc5a;")
          td(style="background: #75bc5a;")
          td(style="background: #487d3e;")
          td(style="background: #75bc5a;")
          td(style="background: #487d3e;")
          td(style="background: #75bd5a;")
          td(style="background: #487d3e;")
          td(style="background: #75bc5a;")
          td(style="background: #75bd5a;")
          td(style="background: #487e40;")
          td(style="background: #000;")
          td
        tr
          td
          td
          td
          td(style="background: #000;")
          td
          td
          td(style="background: #000;")
          td(style="background: #6aa86a;")
          td(style="background: #68a850;")
          td(style="background: #487d3e;")
          td(style="background: #75bc5a;")
          td(style="background: #68a850;")
          td(style="background: #487d3e;")
          td(style="background: #75bd5a;")
          td(style="background: #6bae51;")
          td(style="background: #487d3e;")
          td(style="background: #73ba59;")
          td(style="background: #68a750;")
          td(style="background: #427339;")
          td(style="background: #000;")
        tr
          td
          td
          td(style="background: #000;")
          td(style="background: #7dd17d;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #545554;")
          td(style="background: #6aa86a;")
          td(style="background: #487d3e;")
          td(style="background: #75bc5a;")
          td(style="background: #68a850;")
          td(style="background: #487d3e;")
          td(style="background: #6bae51;")
          td(style="background: #75bd5a;")
          td(style="background: #6bae51;")
          td(style="background: #6bae51;")
          td(style="background: #487d3e;")
          td(style="background: #6bae52;")
          td(style="background: #549054;")
          td(style="background: #000;")
        tr
          td
          td
          td(style="background: #000;")
          td(style="background: #84de84;")
          td(style="background: #84de84;")
          td(style="background: #84de84;")
          td(style="background: #6aa86a;")
          td(style="background: #5a5b5a;")
          td(style="background: #5a5b5a;")
          td(style="background: #599759;")
          td(style="background: #599759;")
          td(style="background: #487d3e;")
          td(style="background: #75bd5a;")
          td(style="background: #75bd5a;")
          td(style="background: #75bd5a;")
          td(style="background: #75bd5a;")
          td(style="background: #487d3e;")
          td(style="background: #589658;")
          td(style="background: #599759;")
          td(style="background: #000;")
        tr
          td
          td
          td(style="background: #000;")
          td(style="background: #77c877;")
          td(style="background: #85df85;")
          td(style="background: #609860;")
          td(style="background: #417038;")
          td(style="background: #487e3b;")
          td(style="background: #619961;")
          td(style="background: #5a5b5a;")
          td(style="background: #5a985a;")
          td(style="background: #427039;")
          td(style="background: #5a8a51;")
          td(style="background: #5a995a;")
          td(style="background: #508850;")
          td(style="background: #5a8a51;")
          td(style="background: #487d3e;")
          td(style="background: #508850;")
          td(style="background: #5a8a51;")
          td(style="background: #000;")
        tr
          td
          td(style="background: #000;")
          td(style="background: #82db82;")
          td(style="background: #80d680;")
          td(style="background: #85df85;")
          td(style="background: #467b3d;")
          td(style="background: #46793d;")
          td(style="background: #498041;")
          td(style="background: #81d781;")
          td(style="background: #6aa86a;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #5a995a;")
          td(style="background: #589658;")
          td(style="background: #569556;")
          td(style="background: #487d3e;")
          td(style="background: #5b5c5b;")
          td(style="background: #000;")
          td
        tr
          td
          td(style="background: #000;")
          td(style="background: #6ba96b;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #000;")
          td(style="background: #5a995a;")
          td(style="background: #5a995a;")
          td(style="background: #487d3e;")
          td(style="background: #5b5c5b;")
          td(style="background: #000;")
          td
          td
        tr
          td(style="background: #000;")
          td(style="background: #cc5348;")
          td(style="background: #467b3d;")
          td(style="background: #77c877;")
          td(style="background: #85df85;")
          td(style="background: #77c777;")
          td(style="background: #619861;")
          td(style="background: #85de85;")
          td(style="background: #77c777;")
          td(style="background: #77c777;")
          td(style="background: #85df85;")
          td(style="background: #515251;")
          td(style="background: #619961;")
          td(style="background: #5a5b5a;")
          td(style="background: #505150;")
          td(style="background: #525252;")
          td(style="background: #6aa76a;")
          td(style="background: #000;")
          td
          td
        tr
          td(style="background: #000;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #467b3d;")
          td(style="background: #7fd47f;")
          td(style="background: #5a5a5a;")
          td(style="background: #383838;")
          td(style="background: #5a5a5a;")
          td(style="background: #87e187;")
          td(style="background: #68a368;")
          td(style="background: #68a368;")
          td(style="background: #68a368;")
          td(style="background: #67a167;")
          td(style="background: #68a368;")
          td(style="background: #487e3e;")
          td(style="background: #44773b;")
          td(style="background: #000;")
          td
        tr
          td
          td(style="background: #000;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #85df85;")
          td(style="background: #82d982;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #fff;")
          td(style="background: #fff;")
          td(style="background: #69a669;")
          td(style="background: #69a669;")
          td(style="background: #69a669;")
          td(style="background: #5a5b5a;")
          td(style="background: #67a167;")
          td(style="background: #68a368;")
          td(style="background: #487e3e;")
          td(style="background: #44773b;")
          td(style="background: #000;")
          td
        tr
          td
          td(style="background: #000;")
          td(style="background: #619961;")
          td(style="background: #76c676;")
          td(style="background: #85df85;")
          td(style="background: #77c877;")
          td(style="background: #000;")
          td(style="background: #f85248;")
          td(style="background: #fff;")
          td(style="background: #619961;")
          td(style="background: #6ba86b;")
          td(style="background: #609860;")
          td(style="background: #417138;")
          td(style="background: #477d3e;")
          td(style="background: #4f4f4f;")
          td(style="background: #619961;")
          td(style="background: #6ca86c;")
          td(style="background: #5f965f;")
          td(style="background: #000;")
          td
        tr
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #6ca96c;")
          td(style="background: #6ca96c;")
          td(style="background: #6ca96c;")
          td(style="background: #6ca96c;")
          td(style="background: #6ca96c;")
          td(style="background: #6ca96c;")
          td(style="background: #5c5b5c;")
          td(style="background: #6aa66a;")
          td(style="background: #487d3e;")
          td(style="background: #497f40;")
          td(style="background: #585858;")
          td(style="background: #555;")
          td(style="background: #6aa66a;")
          td(style="background: #ccc;")
          td(style="background: #000;")
          td
        tr
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #555;")
          td(style="background: #70ad70;")
          td(style="background: #70ad70;")
          td(style="background: #70ad70;")
          td(style="background: #000;")
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #fff;")
          td(style="background: #609760;")
          td(style="background: #fff;")
          td(style="background: #000;")
          td
          td
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td(style="background: #000;")
          td(style="background: #000;")
          td(style="background: #000;")
          td
          td
          td
          td
          td
          td
          td
          td
  script.
    (function(){
      animation();

      function animation() {
        var timer = setInterval(function() {

          walk();
          setTimeout(stand, 500);

        }, 1000);

        var step = 0,
            isLeft = true;

        function walk() {
          $('#b1').hide();
          $('#b2').show();
          $('#b1').css('margin-right',step + 'px');

          if( isLeft ){
            step += 10;
            if( step >= $(document).width() - 520 ){
              $('#b1').addClass('bulbasaur-rotate');
              $('#b2').addClass('bulbasaur-rotate');
              isLeft = false;
            }
          }else {
            step -= 10;
            if( step <= 0 ){
              $('#b1').removeClass('bulbasaur-rotate');
              $('#b2').removeClass('bulbasaur-rotate');
              isLeft = true;
            }
          }

          $('#b2').css('margin-right',step + 'px');
        }

        function stand() {
          $('#b1').show();
          $('#b2').hide();
          $('#b2').css('margin-right',step + 'px');
          
          if( isLeft ){
            step += 10;
            if( step >= $(document).width() - 520 ){
              $('#b1').addClass('bulbasaur-rotate');
              $('#b2').addClass('bulbasaur-rotate');
              isLeft = false;
            }
          }else {
            step -= 10;
            if( step <= 0 ){
              $('#b1').removeClass('bulbasaur-rotate');
              $('#b2').removeClass('bulbasaur-rotate');
              isLeft = true;
            }
          }

          $('#b1').css('margin-right',step + 'px');
          
        }
      }
    })();
