extends layout

block content
  h1= 'GH\ Game'
  p Welcome to #{title}

  nav
    a(href='./')#inslist.btn.btn-primary.apkm-btn 安装列表
    a(href='./uninslist')#uninstall.btn.btn-primary.apkm-btn 卸载列表
    a(href='./text')#settext.btn.btn-primary.apkm-btn 修改喊话
    a#reboot.btn.btn-danger.apkm-btn 一键重启

  .apkm-file-container
    textarea.apkm-textarea

  a#unins-submit.btn.btn-info.apkm-btn 确认
  a#unins-reset.btn.btn-warning.apkm-btn 清空
  #tips
    small Copyright@2015 GH-Game.
  img#logo(src='./img/sleep.jpg')

  script(src='./js/uninstall.js')
