extends ../layout/default

block content
  .row
    .col-lg-12
      h1.page-header 官方包 下载链接
  .row
    .col-lg-12
      table.table
        thead
          tr
            td 游戏名称
            td 版本说明
            td 下载链接
        tbody
          tr
            td 刀塔传奇
            td 加速/自动战斗
            td
              a(target="_blank", href="http://admin.ghzhushou.com/game_addr/dtcq.html") http://admin.ghzhushou.com/game_addr/dtcq.html
          tr
            td 放开那三国
            td 加速/跳过/寻龙答题(显示答案、地图全开)
            td
              a(target="_blank", href="http://admin.ghzhushou.com/game_addr/fknsg.html") http://admin.ghzhushou.com/game_addr/fknsg.html
          tr
            td 航海王启航
            td 加速/自动战斗
            td
              a(target="_blank", href="http://admin.ghzhushou.com/game_addr/hhw.html") http://admin.ghzhushou.com/game_addr/hhw.html
          tr
            td 去吧皮卡丘
            td 加速/跳过战斗/一键探险
            td
              a(target="_blank", href="http://admin.ghzhushou.com/game_addr/qbpkq.html") http://admin.ghzhushou.com/game_addr/qbpkq.html
          tr
            td 少年三国志
            td 加速/跳过
            td
              a(target="_blank", href="http://admin.ghzhushou.com/game_addr/snsgz.html") http://admin.ghzhushou.com/game_addr/snsgz.html
          tr
            td 新仙剑奇侠传
            td 加速
            td
              a(target="_blank", href="http://admin.ghzhushou.com/game_addr/xxj.html") http://admin.ghzhushou.com/game_addr/xxj.html

