extends ../layout/default

block content
  .row
    .col-lg-12
      h1.page-header 渠道包 下载地址
  .row
    .col-lg-12
      a.list-group-item(href='../data/res/360.csv') 360地址(点击下载)
      a.list-group-item(href='../data/res/9u.xlsx') 9u地址(点击下载)