extends ../../layout/default

block content
  .row
    .col-lg-12
      h1.page-header 插件用户数据统计
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          small 2015年05月18日
        .panel-body
          table#example.table.table-striped.table-bordered
            thead
              tr
                td 游戏
                td 新增
                td 总数
                td 总次数
                td 平均次数
            tbody
              tr
                td 少年三国志
                td 696
                td 11494
                td 46531
                td 4.0
              tr
                td 新仙剑奇侠传
                td 61
                td 237
                td 1303
                td 5.0
              tr
                td 刀塔传奇
                td 26
                td 184
                td 514
                td 2.0
              tr
                td 航海王启航
                td 40
                td 393
                td 1478
                td 3.0
              tr
                td 去吧皮卡丘
                td 55
                td 462
                td 1636
                td 3.0
              tr
                td 少年三国志(公会)
                td 137
                td -
                td -
                td -
              tr
                td 少年三国志(新九游)
                td 22
                td 26
                td 64
                td 2.0
    script.
        $(document).ready(function() {
            $('#example').dataTable();
        });
