extends ../../layout/default

block content
  .row
    .col-lg-12
      h1.page-header 插件用户数据统计
  .row
    .col-lg-12
        .panel.panel-default
           .panel-heading
                small 2015年06月07日
            .panel-body
                table#example.table.table-striped.table-bordered
                    thead
                        tr
                            td 游戏
                            td 新增
                            td 总数
                            td 总次数
                            td 平均次数
                    tbody
                        tr
                            td 航海王启航
                            td 60
                            td 531
                            td 2483
                            td 4.0

                        tr
                            td 少年三国志
                            td 1216
                            td 18123
                            td 70930
                            td 3.0

                        tr
                            td 去吧皮卡丘
                            td 104
                            td 580
                            td 2202
                            td 3.0

                        tr
                            td 放开那三国
                            td 675
                            td 8936
                            td 66657
                            td 7.0

                        tr
                            td 新仙剑奇侠传
                            td 52
                            td 349
                            td 1141
                            td 3.0

                        tr
                            td 刀塔传奇
                            td 43
                            td 459
                            td 1611
                            td 3.0

                        tr
                            td 少年三国志(公会) 
                            td 203
                            td - 
                            td - 
                            td - 

                        tr
                            td 少年三国志(新九游) 
                            td 224
                            td 3548
                            td 14271
                            td 4.0

                        tr
                            td 少年三国志(360) 
                            td 98
                            td 1214
                            td 4536
                            td 3.0

                        tr
                            td 少年三国志(百度) 
                            td 55
                            td 675
                            td 2732
                            td 4.0

                        tr
                            td 放开那三国(360) 
                            td 62
                            td 729
                            td 4480
                            td 6.0

                        tr
                            td 放开那三国(百度) 
                            td 91
                            td 922
                            td 8182
                            td 8.0

    script.
        $(document).ready(function() {
            $('#example').dataTable();
        });
