extends ../layout/default

block content
  .row
    .col-lg-12
      h1.page-header 插件用户统计列表
  .row
    .col-lg-12
      iframe(id="dataTable" src="http://192.168.2.99:8082/index.html" style="width: 100%;" frameborder="no" border="0" marginwidth="0")

