extends ../layout/default

block content
  .row
    .col-lg-12
      h1.page-header 插件用户统计列表
  .row
    .col-lg-12

      a.list-group-item(href="/report/20150527") 2015年05月27日
      a.list-group-item(href="/report/20150526") 2015年05月26日
      a.list-group-item(href="/report/20150525") 2015年05月25日
      a.list-group-item(href="/report/20150524") 2015年05月24日
      a.list-group-item(href="/report/20150523") 2015年05月23日
      a.list-group-item(href="/report/20150522") 2015年05月22日
      a.list-group-item(href="/report/20150521") 2015年05月21日
      a.list-group-item(href="/report/20150520") 2015年05月20日
      a.list-group-item(href="/report/20150519") 2015年05月19日
      a.list-group-item(href="/report/20150518") 2015年05月18日
      a.list-group-item(href="/report/20150517") 2015年05月17日
      a.list-group-item(href="/report/20150516") 2015年05月16日
      a.list-group-item(href="/report/20150515") 2015年05月15日
      a.list-group-item(href="/report/20150514") 2015年05月14日
      a.list-group-item(href="/report/20150513") 2015年05月13日

